<html>
    <head>
        <title>My Second Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Junior's Blog</a></h1>
        </div>

        <div>
            <p>published: 30.05.2021, 17:52</p>
            <h2><a href="">My first post</a></h2>
            <p>Aun no se acerca de que hare este blog, espero pronto encontrar un tema.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>